Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [5]:
a="string"
b=[1,3,44.4,"var",True]
c=45.55
d=("var",1,3,5,[3,61,8])

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [6]:
var1 = ''
type(var1)

str

In [7]:
var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: ignored

In [8]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
type(var3)

SyntaxError: ignored

In [9]:
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [10]:
a=8
b=4
c=a/b
c1=a%b
c2 = a//b
c3 = a**b
print(c)
print(c1)
print(c2)
print(c3)

2.0
0
2
4096

Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [11]:
l = [1,2,"varshika",33.33,(5,3,"data"),{1,2,3,2,4,5,51,4},True, 3+4j,[5,6,7,8,4]]

In [12]:
for i in l:
  print(type(i))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'set'>
<class 'bool'>
<class 'complex'>
<class 'list'>

Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [14]:
a = int(input("enter your no."))
b = int(input("enter your no."))
c=0
while a%b==0:
  a=a/b
  c+=1
print(c)

enter your no.8
enter your no.2
3

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [15]:
l=[25,2,3,4,6,9,33,21,36,30,77,45,4,5,6,7,86,89,9,45,3,46,78,6,89]
for i in l:
  if i%3==0:
    print("divisible by 3")
  else:
    print("not")

not
not
divisible by 3
not
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
divisible by 3
not
divisible by 3
not
not
divisible by 3
not
not
not
divisible by 3
divisible by 3
divisible by 3
not
divisible by 3
divisible by 3
not

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

**Mutable Objects**	
* A mutable object whose internal state can be changed after it is created

* mutable objects are widely used in object-oriented programming.

* Examples : List, Set, Dictionary	

**Immutable Objects**
* An immutable object internal state cannot be changed after it is created

* Immutable objects are common in functional programming

* Ex: tuples, int, float, bool, frozenset.